<h2>Admin Panel</h2>
<div class="flexwrap">
    <div class="user">
        <div><h3>User options</h3></div>
        <a href="/user/create">Create a user</a><br>
        <%# <a href="/user/update">Update a user</a><br>
        <a href="/user/delete">Delete a user</a><br> %>
        <a href="/user/all">List all users</a>
    </div>
    <div class="product">
        <div><h3>product options</h3></div>
        <a href="/product/new">Add new product</a><br>
        <a href="/product/all">View all product</a><br>
        <form action="/read" method="get">
                Product code : <input type="text" name="pcode" required>
                <button>Search</button>
        </form>
    </div>
</div>
<h2>Open orders</h2>
<div class = "center">
    <table>
    <tr>
        <th>Customer ID</th>
        <th>Order ID</th>
        <th>Status</th>
        <th>options</th>
    </tr>
    <% @open_orders.each do |order| %>
        <tr>
            <td><%=order['customer_id']%></td>
            <td><%=order['id']%></td>
            <td><%=order['status']%></td>
            <td><button>Mark as Shipped</button></td>
        </tr>
    <%end%>
    </table>
</div>

