
<div class="all_orders">
    <h3><a href="/orders/view">View all orders</a></h3>
    <h3><a href="/cart/view">View cart</a></h3>
</div>

<div class="grid">
    <% @products.each do |product|%>
        <div class="productwrap"><a href="/product/<%=product["product_code"]%>">
            <img src="<%=product["image_url"]%>" alt="">
            <p><%=product["name"]%></p></a>
        </div>
    <% end%>
</div>