<h2>List of All Users</h2>
<table>
  <tr>
    <th>Email</th>
    <th>Role</th>
    <th>Options</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
        <td><%=user['email']%></td>
        <td><%=user['user_role']%></td>
        <% if user['user_role'] == 'admin' %>
            <td>Not Applicable</td>
        <%else%>
            <td>            
                <a href="/user/update/<%= user["id"]%>">Update</a>
            </td>
        <%end%>
    </tr>
  <%end%>
</table>
